{% extends "base.html" %}

{% block content %}
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="text-center mb-3">
              <h1>IdP</h1>
            </div>

            {% if auth_type == "password" %}
            <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Please set your password</h2>
            {% elif auth_type == "totp" %}
            <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Scan the following QR Code to setup OTP for
              future usage.</h2>
            {% endif %}

            {% if error_msg %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
              {{ error_msg }}
            </div>
            {% endif %}
            {% if success_msg %}
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
              {{ success_msg }}
            </div>
            {% endif %}

            {% if auth_type == "cc" %}
            <div class="col-12">
              <center>
                Please insert your Portuguese Citizen Card in the smart card reader. When your ready click the button
                bellow within 1 minute.
              </center>
              <div class="col-12">
                <div class="d-grid my-3">
                  <button class="btn btn-primary btn-lg" id="submitButton">
                    Check my CC
                  </button>
                </div>
              </div>
            </div>
            {% endif %}

            {% if auth_type != "in" and auth_type != "cc" %}
            <form action="" method="post">
              <div class="row gy-2 overflow-hidden">
                {% if auth_type == "password" %}
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="password" value=""
                      placeholder="Password" required>
                    <label for="password" class="form-label">Password</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" value=""
                      placeholder="Confirm Password" required>
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                  </div>
                </div>
                {% endif %}
                {% if auth_type == "totp" %}
                <div class="col-12">
                  <center>
                    <img src="data:image/svg+xml;base64,{{ qr_code }}" alt="QR Code">
                  </center>
                </div>
                {% endif %}

                <div class="col-12">
                  <div class="d-grid my-3">
                    {% if auth_type == "password" %}
                    <button class="btn btn-primary btn-lg" id="submitButton" disabled="true" type="submit">
                      Set
                      {% elif auth_type == "totp" %}
                      <button class="btn btn-primary btn-lg" id="submitButton" type="submit">
                        Done
                        {% endif %}
                      </button>
                  </div>
                </div>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if auth_type == "password" %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const passwordField = document.getElementById('password');
    const confirmPasswordField = document.getElementById('confirm_password');
    const submitButton = document.getElementById('submitButton');

    confirmPasswordField.addEventListener('input', function () {
      if (passwordField.value === confirmPasswordField.value) {
        confirmPasswordField.setCustomValidity('');
        submitButton.disabled = false;
      } else {
        confirmPasswordField.setCustomValidity('Passwords do not match');
        submitButton.disabled = true;
      }
    });
  });
</script>
{% endif %}

{% if auth_type == "cc" %}
<script>
  function makeCCRequest() {
    const challenge = "{{ challenge }}";
    const token = "{{ token }}";

    fetch('http://127.0.0.1:6004/sign', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': token
      },
      body: JSON.stringify({ message: challenge })
    })
      .then(response => response.json())
      .then(data => {
        // Create a form dynamically
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = window.location.href;

        // Add data from the response to the form
        for (const key in data) {
          if (data.hasOwnProperty(key)) {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = key;
            input.value = data[key];
            form.appendChild(input);
          }
        }

        // Append the form to the body and submit it
        document.body.appendChild(form);
        form.submit();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

  document.getElementById('submitButton').addEventListener('click', makeCCRequest);
</script>
{% endif %}

{% endblock %}